
SENDER_EMAIL=user@example.com # Email address that emails will be sent from
EMAIL_PASSWORD=SuperSecurePassword # Password for the email account sending emails
SMTP_HOST_ADDRESS=mail.example.com # SMTP server address. Leave blank if you are using a GMail account
ADMIN_PASSWORD=SuperDuperSecurePassword # Admin password for the server
DISCORD_TOKEN=zWpmQ5uXOSzl.2t_8o0NDI2MKNYdbiEV0qTU4.GnOTgxNOtmxTc3Tc3ODEU6qYI5TGn4Rg # Discord Bot Token
CHANNEL_ID=1033226163548078744 # Discord channel for the bot to post to